.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --gap: 30px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.primary-text-color {
  color: var(--primary-text-color);
}

.logo-accent-color {
  color: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------------header---------------- */

header {
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}

.header-container {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.logo-header {
  color: #000;
  margin-right: 93px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
}

.nav-menu .link.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  bottom: -27px;
  left: 0;
  border-radius: 2px;
}

.nav-menu-li:not(:last-child) {
  margin-right: 50px;
}

.mail-tel {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.mail-tel-li:not(:last-child) {
  margin-right: 50px;
}

.mailto-a,
.tel-a {
  color: var(--secondary-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailto-a:hover,
.mailto-a:focus,
.tel-a:hover,
.tel-a:focus {
  color: var(--accent-color);
}

.mailto-icon-svg {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.tel-icon-svg {
  margin-right: 10px;
  width: 12px;
  height: 16px;
  fill: currentColor;
}

/* ----------------main index.html---------------- */

.bg-order-service {
  max-width: 1600px;
  text-align: center;
  margin: 0 auto;
  padding: 200px 0;
  height: 600px;
  background-image: linear-gradient(to right, #2f303a66, #2f303a66), url(../images/index/bg.jpg);
}

.index-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

.button-order-service {
  background-color: var(--accent-color);
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  padding: 10px 32px;
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  /* height: 581px; */
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.data-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-modal-close:hover,
.data-modal-close:focus {
  color: var(--accent-color);
}

.icon-close-svg {
  width: 11px;
  height: 11px;
}

.modal-p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.form-signup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  display: block;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.input-pos-div {
  position: relative;
  margin-bottom: 10px;
}

.input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-width: 0;
}

.pos-svg {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-text-color);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pos-svg.name {
  width: 12px;
  height: 12px;
}

.pos-svg.tel {
  width: 13px;
  height: 13px;
}

.pos-svg.email {
  width: 15px;
  height: 12px;
}

.input:focus + .pos-svg {
  color: var(--accent-color);
}

.comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-width: 0;
}

.comment::placeholder {
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input:focus,
.comment:focus {
  border: 1px solid var(--accent-color);
}

.checkbox-div {
  position: relative;
  margin-left: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 425px;
}

.checkbox-custom {
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  left: 0;
  fill: #fff;
  display: flex;
  align-items: center;
  /* background-size: contain; */
  /* background-origin: border-box; */
}

.checkbox:checked + .checkbox-custom {
  fill: var(--accent-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  /* background-image: url(../images/index/checka.svg); */
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cmask id='a' maskUnits='userSpaceOnUse' x='2' y='3' width='13' height='10' fill='%23000'%3E%3Cpath fill='%23fff' d='M2 3h13v10H2z'/%3E%3Cpath d='M6.496 10.312 3.888 7.824 3 8.665 6.496 12 14 4.841 13.118 4l-6.622 6.312Z'/%3E%3C/mask%3E%3Cpath d='M6.496 10.312 3.888 7.824 3 8.665 6.496 12 14 4.841 13.118 4l-6.622 6.312Z' fill='%23fff'/%3E%3Cpath d='M6.496 10.312 3.888 7.824 3 8.665 6.496 12 14 4.841 13.118 4l-6.622 6.312Z' stroke='%23fff' stroke-width='.4' mask='url(%23a)'/%3E%3C/svg%3E"); */
  /* background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Ctitle%3Echeck16-15t%3C/title%3E%3Cpath fill='%23fff' d='M9.080 11.816l-0.105-0.101-0.105 0.099-1.469 1.393 0.116 0.111 5.434 5.183 0.105-0.101 11.554-11.022-0.116-0.11-1.45-1.383-0.105 0.101-9.989 9.521-3.87-3.692z'%3E%3C/path%3E%3C/svg%3E"); */
}

.checkbox:focus + .checkbox-custom {
  border-color: var(--accent-color);
}

.checkbox-custom-svg {
  width: 16px;
  height: 15px;
}

.checkbox-span {
  /* margin-left: 7px; */
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.checkbox-span-within {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-submit {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover {
  background-color: #188ce8;
}

.no-padding-bottom {
  padding-top: 94px;
}

.ul-our-features {
  display: flex;
}

.li-our-features {
  width: 270px;
}

.li-our-features:not(:last-child) {
  margin-right: 30px;
}

.li-our-features-svg-div {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.li-our-features-svg {
  width: 70px;
  height: 70px;
}

.index-h3-our-features {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
}

.index-p-our-features {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.index-h2-what-we-do {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.ul-what-we-do {
  display: flex;
}

.li-what-we-do:not(:last-child) {
  margin-right: 30px;
}

.we-do-div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.we-do-p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-color-team {
  background-color: #f5f4fa;
}

.index-h2-our-team {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.ul-team {
  display: flex;
}

.li-team {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.li-team:not(:last-child) {
  margin-right: 30px;
}

.index-h3-p-member-of-team-div {
  padding: 30px 0;
}

.index-h3-member-of-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.index-p-member-of-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.index-member-of-team-ul-links {
  display: flex;
  justify-content: center;
}

.index-member-of-team-li-links {
  width: 44px;
  height: 44px;
}

.index-member-of-team-li-links:not(:last-child) {
  margin-right: 10px;
}

.team-links {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-links:hover,
.team-links:focus {
  background-color: var(--accent-color);
  color: #fff;
  fill: currentColor;
}

.index-member-of-team-svg-links {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients-h2 {
  font-size: 36px;
  line-height: 1.51;
  text-align: center;
  padding-bottom: 50px;
}

.clients-ul {
  display: flex;
}

.clients-li {
  width: 170px;
  height: 92px;
}

.clients-li:not(:last-child) {
  margin-right: 30px;
}

.clients-li-a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-li-a:hover,
.clients-li-a:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.clients-li-a-svg {
  width: 106px;
  height: 60px;
}

/* ----------------portfolio.html---------------- */

.ul-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.li-button:not(:last-child) {
  margin-right: 8px;
}

.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--accent-color);
  color: #fff;
}

.button {
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
  border-radius: 4px;
  color: var(--primary-text-color);
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap));
  margin-top: calc(-1 * var(--gap));
}

.portfolio-ul > .portfolio-ul-li {
  flex-basis: calc(100% / 3 - var(--gap));
  margin-left: var(--gap);
  margin-top: var(--gap);
  overflow: hidden;
}

.portfolio-a:hover,
.portfolio-a:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-a {
  display: block;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  opacity: 1;
}

.portfolio-img-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: var(--accent-color);
  color: #fff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-a:hover .portfolio-img-div,
.portfolio-a:focus .portfolio-img-div {
  transform: translateY(0);
}

.portfolio-img-div-p {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.portfolio-h3-p {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  position: relative;
  background-color: #fff;
}

.portfolio-h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

/* ----------------footer---------------- */

.footer-wrapper {
  background-color: #2f303a;
  padding: 60px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-logo-address-container {
  margin-right: 70px;
}

.logo-footer {
  color: #fff;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
  margin-top: 20px;
}

.footer-address-p {
  margin-bottom: 9px;
}

.footer-address-li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-wrapper-join {
  margin-right: 93px;
}

.footer-p-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-ul-join {
  display: flex;
}

.footer-li-join {
  width: 44px;
  height: 44px;
}

.footer-li-join:not(:last-child) {
  margin-right: 10px;
}

.footer-a-join {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-a-join:hover,
.footer-a-join:focus {
  background-color: var(--accent-color);
}

.footer-a-join-svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer-submit-div {
  width: 570px;
}

.footer-submit-p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-input-button-div {
  display: flex;
  justify-content: space-between;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  color: #fff;
  display: flex;
  align-items: center;
}

.footer-input::placeholder {
  /* padding: 15px 295px 15px 16px; */
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
}

.footer-submit-button-span {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  margin-left: 29px;
}

.footer-submit-svg {
  background-color: var(--accent-color);
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 10px;
}
