// @import url(./utils/_variables.scss);
// @import url(./base/_normalize.scss);
// @import url(./components/_page_header.scss);
// @import './components/logo';
label {
span {
  color: #888;
      }
    }
label {
&:focus-within {span{
  color: green;}
}
}
label span {
  color: #888;
}
label:focus-within span {
  color: green;
}