.header {
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}

.header__container {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  margin-left: 93px;
  list-style: none;
}

.header__current {
  color: var(--primary-text-color);
  position: relative;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -27px;
  left: 0;
  border-radius: 2px;
  background-color: transparent;
}

.header__current--color {
  color: var(--accent-color);
}

.header__current--color::after {
  background-color: var(--accent-color);
}

.header__li:not(:last-child) {
  margin-right: 50px;
}

.header__mail-tel {
  display: flex;
  margin-left: auto;
  align-items: center;
  list-style: none;
}

.header__href {
  color: var(--secondary-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__href:hover,
.header__href:focus {
  color: var(--accent-color);
}

.header__icon {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.header__icon--tel {
  margin-right: 10px;
  width: 12px;
  height: 16px;
  fill: currentColor;
}